#{{ ansible_managed }}

{% for key, value in item.value.items() %}
{% if value is iterable and (value is not string and value is not mapping) %}
{% for item in value %}
{% if item is string %}
{% if loop.index == value|length %}
{{ key }} = {{ value | replace("'", '"')}} 
{% endif %}
{% endif %}
{% if item is mapping %}
{{ key }} = {
{% for k,v in item.items() %}
{% if v is iterable and (v is not string and v is not mapping) %}
{% for item in v %}
{% if item is mapping %}
{{ k|indent(2, true) }} = {
{% for key, value in item.items() %}
{% if value is string %}
{{ key|indent(4,true) }} = "{{ value }}"
{% else %}
{{ key|indent(4,true) }} = {{ value|lower }}
{% endif %}
{% endfor %}
  }
{% endif %}
{% endfor %}
{% else %}
{% if v is string %}
{{ k| indent(2,true) }} = "{{ v }}"
{% else %}
{{ k| indent(2,true) }} = {{ v|lower }}
{% endif %}
{% endif %}
{% endfor %}
}
{% endif %}
{% endfor %}
{% else %}
{% if value is string %}
{{ key }} = "{{ value }}"
{% else %}
{{ key }} = {{ value|lower }}
{% endif %}
{% endif %}
{% endfor %}
