#{ ansible_managed }}

reporting-disabled = false
# hostname = "localhost"

{% for key, value in influxdb_conf.items() %}
[{{key | regex_replace('^\_','[')| regex_replace('_$',']') }}]
{% for key, value in value.items() -%}
{% if value is string %}
{{ key }} = "{{ value }}"
{% else %}
{{ key }} = {{ value | lower }}
{% endif %}
{% endfor %}
{% endfor %}