#Managed by Ansible

reporting-disabled = false
# hostname = "localhost"

{% for key, value in influxdb_conf.items() %}
[{{key|replace('\\', '')}}]
{% for key, value in value.items() -%}
{{ key }} = {{ value }}
{% endfor %}
{% endfor %}